.vscode/**
**/.vscode/**
**/*.out
**/exec
**/nabla
**/lex.yy.c
**/y.tab.c
**/y.tab.h
**/*.tab.*
parser-op.txt
**/.DS_Store
**/*.o
Build/
Build/**
Autodiff/autodiff
**/docs/**
**/output.cpp
**/.*.cpp
Transpiler/lib/libnb.a
